<%- include('../partial/header.ejs') %> <%- include('../partial/nav.ejs') %>
<div class="d-flex justify-content-around mb-3">
  <%- include('../partial/managesubnav.ejs') %>
  <div class="d-flex justify-content-center align-items-center w-75 w-md-50 w-lg-50 mt-5 mb-5">
    <ul>
      <li>
        <p>product 1</p>
      </li>
      <li>
        <p>product 1</p>
      </li>
      <li>
        <p>product 1</p>
      </li>
      <li>
        <p>product 1</p>
      </li>
      <li>
        <p>product 1</p>
      </li>
      <li>
        <p>product 1</p>
      </li>
      <li>
        <p>product 1</p>
      </li>
    </ul>
  </div>
</div>
<%- include('../partial/footer.ejs') %>
