<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link <%= title === 'Cart' ? 'active' : '' %>" href="/cart">Cart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= title === 'Orders' ? 'active' : '' %>" href="/orders">Orders</a>
        </li>
    </ul>
</div>