<footer class="d-flex justify-content-start flex-wrap flex-column p-3 mt-auto border-top bg-dark text-white">
        <p class="p-2">© 2023 Petraa Coupons. All rights reserved.</p><br>
        <p class="p-2">Follow us on:
            <a href="https://www.facebook.com" target="_blank">Facebook</a> |
            <a href="https://www.twitter.com" target="_blank">Twitter</a> |
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
        </p>
</footer>
</body>
</html>
