<nav class="navbar nav-tabs navbar-expand-sm navbar-dark bg-dark shadow">
    <ul class="navbar-nav  navbar-collapse">
        <li class="nav-item"><a class="nav-link 
            <% if (title === 'Shop') { %>
                border-bottom text-white bg-dark
            <%} %>"
            " href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link 
            <% if (title === 'Redeems') { %>
                border-bottom text-white bg-dark
            <%} %>"" href="/shop/redeem">Redeems/Dicounts</a></li>
        <li class="nav-item"><a class="nav-link
            <% if (title === 'Coupons') { %>
                border-bottom text-white bg-dark
            <%} %>"" href="/shop/coupon">Coupons</a></li>        
        <% if (isAuth) { %>
        <li class="nav-item"><a class="nav-link" href="/shop/cart"> Cart
            <% if (user.cart.length > 0) { %>
                <span class="badge badge-pill badge-danger ml-1"><%= cartCount %></span>
            <% } %>
        </a></li>
            <% if (user.isAdmin) { %>
                <li style="color:aliceblue">|</li>
                <li class="nav-item"><a class="nav-link text-primary <% if(title.includes('Manage')) {%> border-bottom bg-dark <%}%>" href="/admin/manageProducts">Manage</a></li>
            <% } %>
        <li class="nav-item navbar-collapse justify-content-end">
            
        <span class="navbar-text text-secondery mr-3"><%= user.name %></span>
            <a class="nav-link bg-info text-dark shadow rounded" href="/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item navbar-collapse justify-content-end"><a class="nav-link bg-info text-dark shadow rounded" href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>